<%= form_for @task do |f| %>
  <fieldset>
    <input type="hidden" name="action" value="contact_send" />

    <div class="row">
      <div class="form-group">
        <div class="col-md-12">
          <label>タスク名</label>
          <%= f.text_field :title, class: "form-control required" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-6 col-sm-6">
          <label>優先度</label>
          <%= f.select :priority, Task.priorities, {}, class: "form-control required" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <label>期日</label>
          <%= f.text_field :dead, class: "form-control datepicker", data: {format: "yyyy-mm-dd", lang: "en", RTL: "false"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          <label>説明文</label>
          <%= f.text_area :description, class: "form-control", rows: "10" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          <%= f.submit "保存する", class: "btn btn-default btn-block" %>
        </div>
      </div>
    </div>
<% end %>
