<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>

  <body>
    <div id="wrapper">
      <%= render 'shared/sidebar' %>
      <%= render 'shared/header' %>
      <section id="middle">
        <%= yield %>
      </section>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
